description = "testimonials"

[staticPage]
useContent = 1
default = 0

[staticMenuMultilingual staticMenu]
code = "menu"

[testimonials]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/head_default' %}
    </head>
    <body>
        {% partial 'site/header' %}

        {% partial 'site/heading-title' %}

        {variable name="caption" label="Header Caption (under Title)" tab="Header" type="richeditor" size="small"}{/variable}
        {variable name="headersize" label="Header Size" tab="Header" type="text"}{/variable}
        {variable name="headerposition" label="Header Position" tab="Header" type="text"}{/variable}
        {variable name="header" label="Header" tab="Header" type="mediafinder" mode="image"}{/variable}

        {% component 'staticPage' %}

        {% partial 'site/footer' %}

        <!-- Javascript -->
        {% partial 'site/scripts' %}
        {% scripts %}
    </body>
</html>