[viewBag]
snippetCode = "popolna-zaupnost"
snippetName = "Popolna zaupnost"
==
<div class="section-wht">
    <div class="container-fluid">
        <div class="row cta f-flex">
            <div class="col-md-8 text-left align-self-center">

                <h2>Popolna <strong>zaupnost</strong></h2>

                <p>Ker za vas želimo le najboljše, stremimo k popolnosti. Za nas je mikropigmentacija popolna takrat, ko daje realističen videz. Ko je avtentična in je videti kot pravi lasje. Ljudje okoli vas bodo opazili, da se je na vas nekaj spremenilo, da ste videti drugače, bolje. Vendar ne bodo ugotovili kaj je tisto, kar daje vašemu videzu mladost, živahnost in privlačnost. Vedeli bodo le tisti, katerim boste povedali sami. Vaša skrivnost bo z nami varna.</p>

                <h3>Naj bo vaša odločitev pravilna</h3>

                <p>Temeljito razumevanje procesa mikropigmentacije lasišča je ključno, da bo vaša odločitev o postopku pravilna. Zato vsem našim strankam nudimo tri polurne brezplačne konzultacije, kjer vas podučimo o postopku in vseh njegovih vidikih. Tu se pogovorimo o vaših željah ter pričakovanjih in pogovorimo se, kaj lahko&nbsp;dejansko dosežemo. Z enim samim razlogom. Da se odločite prav. Da bo mikropigmentacija lasišča tista, ki vam bo spremenila življenje na bolje.</p>
            </div>
            <div class="col-md-4 align-self-center">
                <p><img src="http://senso.local/storage/app/media/content/cta-brezplacen-posvet.png" alt="" class="fr-fic fr-dib"></p>
            </div>
        </div>
    </div>
</div>