[viewBag]
snippetCode = "banner-plesavost-preteklost"
snippetName = "Banner - Ko plešavost postane preteklost"
==
<div class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2>KO PLEŠAVOST POSTANE PRETEKLOST<br/>ZAMISLITE SE – Z LASNO LINIJO, KI STE JO NEKOČ IMELI</h2>

                <p>Smo vodilno slovensko podjetje za mikropigmentacijo lasišča, ki na inovativen način rešuje težave s
                    plešavostjo in izpadanjem las. Naj bo to moška plešavost, ženska plešavost, redčenje las, izpadanje
                    las, alopecia, brazgotina po presaditvi las, brazgotina po opeklinah ali nesreči - z
                    mikropigmentacijo lasišča vam povrnemo lasno linijo in videz gostih las.</p>
            </div>
            <div class="col-md-4">
                <div class="circle float-right">
                    <div class="circle-in">
                        <div>
                            <span>42.460</span>
                            <p>pik v tem tednu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>