[viewBag]

[staticMenuMultilingual]
code = "menu_sl"
==
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="cta position-relative">
                    <p><a href="#" class="stretched-link">Rezervirajte si brezplačen posvet</a></p>
                </div>
            </div>
            <div class="col">                
                <div class="cta">
                    Pokličite nas
                    <p>+386 40 466 626</p>
                </div>
            </div>
            <div class="col">
                <p>
                    {% for item in staticMenu.menuItems if not item.viewBag.isHidden%}
                        <a href="{{ item.url }}">{{ item.title }}</a><br>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="row">
             <div class="col">
                <p class="copy">Copyright &copy; 2019{% if today > 2019 %} - {{ "now"|date("Y") }}{% endif %} | Vse pravice pridržane.</p>
            </div>
        </div>
    </div>
</footer>