<meta charset="utf-8">
<title>{{ this.page.title }}</title>
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="title" content="{{ this.page.meta_title }}">
<meta name="author" content="nonstop.si">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="format-detection" content="telephone=no"/>

<link rel="icon" type="image/x-ico" href="{{ 'favicon.ico'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/style.css?v=0.1.3'|theme }}">

{% styles %}