{% if header %}
    {% set headerImage = header|media %}
{% else %}
    {% set headerImage = "/storage/app/media/content/header/header-sample.jpg" %}
{% endif %}
<div class="headerimage{{ headersize }}" style="background-image: url('{{ headerImage }}');">
    <div class="container-fluid">
        <div class="row">
            <div class="text">
                <h1 data-aos="fade-top">{{ this.page.title }}</h1>
                <h3 data-aos="fade-top">{{ caption|raw }}</h3>
            </div>
        </div>
    </div>
</div>