[viewBag]
snippetCode = "contact-form"
snippetName = "Kontaktna forma"
==
<div class="section-blk">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 text-left">
                <br>
                <h2>Lepotni studio SENSO</h2><br>
                Kettejev drevored 7<br>
                8000 Novo mesto<br>
                <br>
                Odprto: Po predhodnem dogovoru.<br>
                <br>
                {#<form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input">
                                <label>Ime in priimek</label>
                                <input type="text" name="">
                            </div>
                            <div class="input">
                                <label>E-pošta</label>
                                <input type="email" name="">
                            </div>
                            <div class="input">
                                <label>Mobilna številka</label>
                                <input type="text" name="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input">
                                <label>Opomba</label>
                                <textarea></textarea>
                            </div>
                            <div class="input">
                                <button type="submit">POŠLJI</button>
                            </div>
                        </div>
                    </div>
                </form>#}
            </div>
            <div class="col-md-6 text-left">
                <br>
                <p class="contact">
                    <strong>Rezervacije:</strong> GSM: 040 466 626<br>
                    <br>
                    <strong>Email:</strong> <a href="mailto:senso@maja.si" title="Email">maja@senso.si</a><br>
                </p>
                <p class="social">
                    <br>
                    <a href="https://www.facebook.com/senso.for.man/" target="_blank"><i class="fab fa-facebook"></i></a>
                    &nbsp;
                    <a href="https://www.facebook.com/senso.for.man/" target="_blank"><i class="fab fa-instagram"></i></a><br>
                </p>
            </div>
        </div>
    </div>
</div>