[viewBag]
snippetCode = "contact-form"
snippetName = "Kontaktna forma"
==
<div class="section-blk">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 text-left">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input">
                                <label>Ime in priimek</label>
                                <input type="text" name="">
                            </div>
                            <div class="input">
                                <label>E-pošta</label>
                                <input type="email" name="">
                            </div>
                            <div class="input">
                                <label>Mobilna številka</label>
                                <input type="text" name="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input">
                                <label>Opomba</label>
                                <textarea></textarea>
                            </div>
                            <div class="input">
                                <button type="submit">POŠLJI</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 text-left">
<strong>Lepotni studio SENSO</strong><br>
Kettejev drevored 7<br>
8000 Novo mesto<br>
<br>
Rezervacije: GSM: 040 466 626<br>
<br>
Email: <a href="mailto:senso@maja.si">maja@senso.si</a><br>
<br>
Odprto: Po predhodnem dogovoru.<br>
            </div>
        </div>
    </div>
</div>