<script src="{{ 'assets/js/app.js'|theme }}"></script>
<script src="{{ 'assets/js/custom.js?v=0.0.6'|theme }}"></script>
<script src="https://kit.fontawesome.com/b6b88bedb5.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-98455217-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-98455217-7');
</script>