[viewBag]
snippetCode = "submenu"
snippetName = "Submenu 2nd level"
snippetProperties[ctheme][title] = "ctheme"
snippetProperties[ctheme][type] = "dropdown"
snippetProperties[ctheme][default] = "blk"
snippetProperties[ctheme][options][blk] = "blk"
snippetProperties[ctheme][options][wht] = "wht"
==
<div class="section-{{ ctheme }} sub-{{ ctheme }}">
    <div class="container-fluid subnav">
        <div class="row">
        {% for item in staticMenuSub.menuItems %}
            <div class="col{% if item.isActive %} active{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></div>
        {% endfor %}
        </div>
    </div>
</div>