[viewBag]
snippetCode = "submenu"
snippetName = "Submenu 2nd level"
snippetProperties[ctheme][title] = "ctheme"
snippetProperties[ctheme][type] = "dropdown"
snippetProperties[ctheme][default] = "blk"
snippetProperties[ctheme][options][blk] = "blk"
snippetProperties[ctheme][options][wht] = "wht"
==
<div class="section-{{ ctheme }} sub-{{ ctheme }} sub{% if ctheme == 'blk' %} d-none d-lg-block{% endif %}">
    <div class="container-fluid subnav" data-aos="fade-up">
        <div class="row">
        {% for item in staticMenuSub.menuItems %}
            <div class="col-12 col-md-4 col-lg{% if item.isActive %} active{% endif %}"><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></div>
        {% endfor %}
        </div>
    </div>
</div>