<div class="section-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="st-img"></div>
            </div>
            <div class="col-md-6">
                <div class="st-content">
                    <h3>ZAKAJ MIKROPIGMENTACIJA LASIŠČA</h3>
                    <ul>
                        <li>Postaja najbolj popularna rešitev pri prekrivanju plešavosti.</li>
                        <li>Povrne mladosten videz in lasno linijo, ki ste jo nekoč imeli.</li>
                        <li>Poveča samozavest in samospoštovanje.</li>
                        <li>Je neinvazivna, varna in primerna za vse, ne glede na vrsto lasišča.</li>
                        <li>Je stroškovno učinkovita in dosegljiva skorajda vsem.</li>
                        <li>Povrne lasno linijo in ustvarja videz pobritega lasišča z gosto posejanimi lasnimi
                            mešički.
                        </li>
                        <li>Prekrije brazgotine po poškodbah in opeklinah ter brazgotine po presaditvi las.</li>
                        <li>Zmanjša barvni kontrast med redkimi lasmi in lasiščem.</li>
                        <li>Osvobaja.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>